@page "/GamePage"
@using Database
@using Database.Models
@using Database.Repositories
@using Microsoft.EntityFrameworkCore
@using System.Diagnostics
@inject IDbContextFactory<PartyGameContext> DbFactory

<ContextMenu Id="myMenu">
    <Item OnClick="@OnClick" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu1">
    <Item OnClick="@OnClick1" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu2">
    <Item OnClick="@OnClick2" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu3">
    <Item OnClick="@OnClick3" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu4">
    <Item OnClick="@OnClick4" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu5">
    <Item OnClick="@OnClick5" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>


<div class="container">
    <div class="row">

        <div class="col" style="background-color:Tomato; text-align:center">

            <h2 style="text-align:center">RED TEAM</h2>
            <br><br>

            <h2 style="text-align:center">SCORE:</h2>
            <br><br>

            <ContextMenuTrigger MenuId="myMenu">
                @switch (clickedText.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 1 <br><br>

            <ContextMenuTrigger MenuId="myMenu1">
                @switch (clickedText1.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 2 <br><br>

            <ContextMenuTrigger MenuId="myMenu2">
                @switch (clickedText2.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 3
        </div>

        <div class="col-6" style="text-align: center">
            <h1 style="text-align:center">Team @team[index].Name</h1>
            <h1 style="text-align:center">Score @team[index].Score</h1>
            <h4 style="text-align: center">@Question.Text</h4>
            <br><br>
            @if (answers != null)
            {
                <table style="width: 100%; border: 1px solid black">
                    @foreach (var answ in answers)
                    {
                        <tr>
                            <td style="border: 1px solid black">@answ.Text</td>
                            <td style="border: 1px solid black">@answ.Popularity</td>
                        </tr>
                    }
                </table>
            }
            <br><br>

            <p style="text-align: center">Player 1's turn to answer!</p>

            <input @bind-value="Input" type="text" id="fname" name="fname">
            <button class="btn btn-primary mb-3" @onclick="SubmitAnswer">Submit</button>
            <br><br>
            <form method="get" action="/">
                <button type="submit" class="btn btn-primary mb-3">Exit game</button>
            </form>
        </div>
        <div class="col" style="background-color:DodgerBlue; text-align:center">

            <h2 style="text-align:center">BLUE TEAM</h2>
            <br><br>

            <h2 style="text-align:center">SCORE:</h2>
            <br><br>

            <ContextMenuTrigger MenuId="myMenu3">
                @switch (clickedText3.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 4 <br><br>

            <ContextMenuTrigger MenuId="myMenu4">
                @switch (clickedText4.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 5 <br><br>

            <ContextMenuTrigger MenuId="myMenu5">
                @switch (clickedText5.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 6
        </div>
    </div>
</div>

@code {

    public class Team
    {
        public string Name { get; set; }
        public int Score { get; set; }
    }

    public Team[] team = { new Team { Name = "A", Score = 0 }, new Team { Name = "B", Score = 0 } };
    public int index = 0;

    string clickedText = "";
    string clickedText1 = "";
    string clickedText2 = "";
    string clickedText3 = "";
    string clickedText4 = "";
    string clickedText5 = "";
    public Question Question { get; set; } = new Question();
    public int Left { get; set; } = 60;
    public bool Show { get; set; }
    public string Input { get; set; }
    string text;
    // context menu https://www.youtube.com/watch?v=ws5-CUzY7_w&t=470s
    // grid https://getbootstrap.com/docs/4.0/layout/grid/#responsive-classes
    Stopwatch watch = new Stopwatch();
    QuestionRepository questionRepository;
    AnswerRepository answerRepository;
    List<Question> questions;
    List<Answer> answers;
    Random rnd = new Random();

    protected override async Task OnInitializedAsync()
    {
        questionRepository = new QuestionRepository(DbFactory.CreateDbContext());
        answerRepository = new AnswerRepository(DbFactory.CreateDbContext());
        questions = await questionRepository.GetQuestionsAsync();
        Question = questions[rnd.Next(questions.Count)];
        answers = new List<Answer>();
        watch.Start();
    }

    public async void SubmitAnswer()
    {
        if (string.IsNullOrEmpty(Input)) return;
        var answer = await answerRepository.GetAnswer(Input);
        if (answer == null) return;

        var len = answers.Count;
        answers.Add(answer);
        answers = answers.Distinct().ToList();
        if (len == answers.Count) return;
        team[index].Score += answer.Popularity;
        index = index switch
        {
            0 => 1,
            1 => 0,
            _ => index
            };
        StateHasChanged();
    }

    void OnClick(ItemClickEventArgs e)
    {
        clickedText = $"{e.MenuItem.Id}";
    }
    void OnClick1(ItemClickEventArgs e)
    {
        clickedText1 = $"{e.MenuItem.Id}";
    }
    void OnClick2(ItemClickEventArgs e)
    {
        clickedText2 = $"{e.MenuItem.Id}";
    }
    void OnClick3(ItemClickEventArgs e)
    {
        clickedText3 = $"{e.MenuItem.Id}";
    }
    void OnClick4(ItemClickEventArgs e)
    {
        clickedText4 = $"{e.MenuItem.Id}";
    }
    void OnClick5(ItemClickEventArgs e)
    {
        clickedText5 = $"{e.MenuItem.Id}";
    }
}
