@page "/GamePage"


<ContextMenu Id="myMenu">
    <Item OnClick="@OnClick" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu1">
    <Item OnClick="@OnClick1" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick1" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu2">
    <Item OnClick="@OnClick2" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick2" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu3">
    <Item OnClick="@OnClick3" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick3" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu4">
    <Item OnClick="@OnClick4" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick4" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>
<ContextMenu Id="myMenu5">
    <Item OnClick="@OnClick5" Id="1"><img src="/avatars/avatar1.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="2"><img src="/avatars/avatar2.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="3"><img src="/avatars/avatar3.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="4"><img src="/avatars/avatar4.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="5"><img src="/avatars/avatar5.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="6"><img src="/avatars/avatar6.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="7"><img src="/avatars/avatar7.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="8"><img src="/avatars/avatar8.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="9"><img src="/avatars/avatar9.png" alt="Sample Image" width="50px" /></Item>
    <Item OnClick="@OnClick5" Id="10"><img src="/avatars/avatar10.png" alt="Sample Image" width="50px" /></Item>
    <Seperator></Seperator>
</ContextMenu>


<div class="container">
    <div class="row">

        <div class="col" style="background-color:Tomato; text-align:center">

            <h2 style="text-align:center">RED TEAM</h2>
            <br><br>

            <h2 style="text-align:center">SCORE:</h2>
            <br><br>

            <ContextMenuTrigger MenuId="myMenu">
                @switch (clickedText.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 1 <br><br>

            <ContextMenuTrigger MenuId="myMenu1">
                @switch (clickedText1.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 2 <br><br>

            <ContextMenuTrigger MenuId="myMenu2">
                @switch (clickedText2.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 3
        </div>








        <div class="col-6" style="text-align:center">
            <h2 style="text-align:center">TIMER:</h2>
            <br><br>


            <h2 style="text-align:center">Question</h2>
            <br><br>


            <table style="width:100%;border: 1px solid black">
                <tr>
                    <td style="border: 1px solid black">answer1</td>
                    <td style="border: 1px solid black">answer5</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black">answer2</td>
                    <td style="border: 1px solid black">answer6</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black">answer3</td>
                    <td style="border: 1px solid black">answer7</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black">answer4</td>
                    <td style="border: 1px solid black">answer8</td>
                </tr>
            </table>
            <br><br>

            <p style="text-align:center">Player 1's turn to answer!</p>

            <input type="text" id="fname" name="fname">
            <input type="submit" value="Submit">
            <br><br>
            <form method="get" action="/">
                <button type="submit" class="btn btn-primary mb-3">Exit game</button>
            </form>
        </div>








        <div class="col" style="background-color:DodgerBlue; text-align:center">

            <h2 style="text-align:center">BLUE TEAM</h2>
            <br><br>

            <h2 style="text-align:center">SCORE:</h2>
            <br><br>

            <ContextMenuTrigger MenuId="myMenu3">
                @switch (clickedText3.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 4 <br><br>

            <ContextMenuTrigger MenuId="myMenu4">
                @switch (clickedText4.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 5 <br><br>

            <ContextMenuTrigger MenuId="myMenu5">
                @switch (clickedText5.ToString())
                {
                    case "":
                        text = "/avatars/avatar.png";
                        break;
                    case "1":
                        text = "/avatars/avatar1.png";
                        break;
                    case "2":
                        text = "/avatars/avatar2.png";
                        break;
                    case "3":
                        text = "/avatars/avatar3.png";
                        break;
                    case "4":
                        text = "/avatars/avatar4.png";
                        break;
                    case "5":
                        text = "/avatars/avatar5.png";
                        break;
                    case "6":
                        text = "/avatars/avatar6.png";
                        break;
                    case "7":
                        text = "/avatars/avatar7.png";
                        break;
                    case "8":
                        text = "/avatars/avatar8.png";
                        break;
                    case "9":
                        text = "/avatars/avatar9.png";
                        break;
                    case "10":
                        text = "/avatars/avatar10.png";
                        break;
                    default:
                        text = "/avatars/avatar.png";
                        break;
                }
                <div> <img src="@text" alt="Sample Image" width="50px" /></div>
            </ContextMenuTrigger>

            Player 6
        </div>

    </div>
    
</div>





@code {
    string clickedText = "";
    string clickedText1 = "";
    string clickedText2 = "";
    string clickedText3 = "";
    string clickedText4 = "";
    string clickedText5 = "";
    string text;
    // context menu https://www.youtube.com/watch?v=ws5-CUzY7_w&t=470s
    // grid https://getbootstrap.com/docs/4.0/layout/grid/#responsive-classes

    void OnClick(ItemClickEventArgs e)
    {
        clickedText = $"{e.MenuItem.Id}";
    }
    void OnClick1(ItemClickEventArgs e)
    {
        clickedText1 = $"{e.MenuItem.Id}";
    }
    void OnClick2(ItemClickEventArgs e)
    {
        clickedText2 = $"{e.MenuItem.Id}";
    }
    void OnClick3(ItemClickEventArgs e)
    {
        clickedText3 = $"{e.MenuItem.Id}";
    }
    void OnClick4(ItemClickEventArgs e)
    {
        clickedText4 = $"{e.MenuItem.Id}";
    }
    void OnClick5(ItemClickEventArgs e)
    {
        clickedText5 = $"{e.MenuItem.Id}";
    }
}
